body {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    min-height: 100vh;
    font-family: sans-serif;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}