<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Slot with {{ tutor.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Book Slot with {{ tutor.name }}</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('view_bookings') }}">View All Bookings</a>
        </nav>
    </header>
    
    <main>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>{{ form.student_name.label }} {{ form.student_name(size=20) }}</p>
            <p>Select a Slot:</p>
            <ul>
                {% for slot in tutor.available_slots.split(',') %}
                    {% set slot_info = slot.split('|') %}
                    <li>
                        <input type="radio" id="{{ slot_info[0] }}" name="slot" value="{{ slot_info[0] }}">
                        <label for="{{ slot_info[0] }}">
                            {{ slot_info[0] }} - Gmeet Link: {{ slot_info[1] if slot_info|length > 1 else 'Not available' }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <p>{{ form.submit() }}</p>
        </form>
    </main>
</body>
</html>
